p {
     color: white;	
}
P:first-letter {
    font-size: 20px;
}
body {
  font-family: Arial;
    background-color: rgb(89,85,71);
}
p1 {
    font-style: italic;
     color: white;  
}
p2 {
    font-style: italic;
     color: rgb(255,248,107);  
}
li {
  color: white;
}
h3 {
     color: rgb(158, 193, 250);
}
h1 {
     color: rgb(158, 193, 250);	
}
a:link {
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
a {
  color: rgb(215, 79, 74);
}
div {
    display: block;
    margin: 0 auto;
    width: 300px;
}
